<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer form group-->
        <div formGroupName="customer" class="form-area">

          <h3>Informações pessoais</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Nome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">

                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="form-validation-error-msg">
                  <div *ngIf="firstName?.errors.required || firstName?.errors.notOnlyWhitespace ">
                    *Nome é obrigatório
                  </div>

                  <div *ngIf="firstName?.errors.minlength">
                    *Nome precisa ter no mínimo 2 caracteres
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Sobrenome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">

                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="form-validation-error-msg">
                  <div *ngIf="lastName?.errors.required">
                    *Sobrenome é obrigatório
                  </div>

                  <div *ngIf="lastName?.errors.minlength">
                    *Sobrenome precisa ter no mínimo 2 caracteres
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>E-mail</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">

                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="form-validation-error-msg">
                  <div *ngIf="email?.errors.required">
                    *E-mail é obrigatório
                  </div>

                  <div *ngIf="email?.errors.pattern">
                    *Informe um e-mail válido
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- shipping form group-->
        <div formGroupName="shippingAddress" class="form-area">

          <h3>Endereço de Envio</h3>

          <div class="row">
            <div class="col-md-2">
              <label>País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="country"
                (change)="getEstados('shippingAddress')">
                  <option *ngFor="let pais of paises" [ngValue]="pais">
                    {{ pais.nomePT }}
                  </option>
                </select>

                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="form-validation-error-msg">
                  <div *ngIf="shippingAddressCountry?.errors.required">
                    *País é obrigatório
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Rua</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="form-validation-error-msg">
                  <div *ngIf="shippingAddressStreet?.errors.required || shippingAddressStreet?.errors.notOnlyWhitespace ">
                    *Rua é obrigatório
                  </div>

                  <div *ngIf="shippingAddressStreet?.errors.minlength">
                    *Rua precisa ter no mínimo 2 caracteres
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Número</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 100px;">
                <input formControlName="houseNumber" type="text">

                <div *ngIf="shippingAddressHouseNumber?.invalid && (shippingAddressHouseNumber?.dirty || shippingAddressHouseNumber?.touched)" class="form-validation-error-msg">
                  <div *ngIf="shippingAddressHouseNumber?.errors.required || shippingAddressHouseNumber?.errors.notOnlyWhitespace ">
                    *Número é obrigatório
                  </div>

                  <div *ngIf="shippingAddressStreet?.errors.minlength">
                    *Número precisa ter no mínimo 1 caracter
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>CEP</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 170px;">
                <input
                formControlName="zipCode"
                type="text"
                maxlength="8"
                oninput="this.value=this.value.replace(/[^\d]/,'')">

                <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="form-validation-error-msg">
                  <div *ngIf="shippingAddressZipCode?.errors.required || shippingAddressZipCode?.errors.notOnlyWhitespace ">
                    *CEP é obrigatório
                  </div>

                  <div *ngIf="shippingAddressZipCode?.errors.minlength">
                    *CEP precisa ter 8 caracteres
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Bairro</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="district" type="text">

                <div *ngIf="shippingAddressDistrict?.invalid && (shippingAddressDistrict?.dirty || shippingAddressDistrict?.touched)" class="form-validation-error-msg">
                  <div *ngIf="shippingAddressDistrict?.errors.required || shippingAddressDistrict?.errors.notOnlyWhitespace ">
                    *Bairro é obrigatório
                  </div>

                  <div *ngIf="shippingAddressDistrict?.errors.minlength">
                    *Bairro precisa ter no mínimo 2 caracteres
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="state"
                (change)="getCidades('shippingAddress')">
                  <option *ngFor="let estado of shippingAddressEstados" [ngValue]="estado">
                    {{ estado.nome }}
                  </option>
                </select>

                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)" class="form-validation-error-msg">
                  <div *ngIf="shippingAddressState?.errors.required">
                    *Estado é obrigatório
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city">
                  <option *ngFor="let cidade of shippingAddressCidades" [ngValue]="cidade">
                    {{ cidade.nome }}
                  </option>
                </select>

                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="form-validation-error-msg">
                  <div *ngIf="shippingAddressCity?.errors.required">
                    *Cidade é obrigatório
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- Adcionar check box para copiar o endereço ded envio para o de cobrança -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span>Usar o Endereço de Envio como Endereçod e Cobrança
          </label>
        </div>

        <!-- billing form group-->
        <div formGroupName="billingAddress" class="form-area">

          <h3>Endereço de Cobrança</h3>

          <div class="row">
            <div class="col-md-2">
              <label>País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="country"
                (change)="getEstados('billingAddress')">
                  <option *ngFor="let pais of paises" [ngValue]="pais">
                    {{ pais.nomePT }}
                  </option>
                </select>

                <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="form-validation-error-msg">
                  <div *ngIf="billingAddressCountry?.errors.required">
                    *País é obrigatório
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Rua</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="form-validation-error-msg">
                  <div *ngIf="billingAddressStreet?.errors.required || billingAddressStreet?.errors.notOnlyWhitespace ">
                    *Rua é obrigatório
                  </div>

                  <div *ngIf="billingAddressStreet?.errors.minlength">
                    *Rua precisa ter no mínimo 2 caracteres
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Número</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 100px;">
                <input formControlName="houseNumber" type="text">

                <div *ngIf="billingAddressHouseNumber?.invalid && (billingAddressHouseNumber?.dirty || billingAddressHouseNumber?.touched)" class="form-validation-error-msg">
                  <div *ngIf="billingAddressHouseNumber?.errors.required || billingAddressHouseNumber?.errors.notOnlyWhitespace ">
                    *Número é obrigatório
                  </div>

                  <div *ngIf="billingAddressStreet?.errors.minlength">
                    *Número precisa ter no mínimo 1 caracter
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>CEP</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 170px;">
                <input
                formControlName="zipCode"
                type="text"
                maxlength="8"
                oninput="this.value=this.value.replace(/[^\d]/,'')">

                <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="form-validation-error-msg">
                  <div *ngIf="billingAddressZipCode?.errors.required || billingAddressZipCode?.errors.notOnlyWhitespace ">
                    *CEP é obrigatório
                  </div>

                  <div *ngIf="billingAddressZipCode?.errors.minlength">
                    *CEP precisa ter 8 caracteres
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Bairro</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="district" type="text">

                <div *ngIf="billingAddressDistrict?.invalid && (billingAddressDistrict?.dirty || billingAddressDistrict?.touched)" class="form-validation-error-msg">
                  <div *ngIf="billingAddressDistrict?.errors.required || billingAddressDistrict?.errors.notOnlyWhitespace ">
                    *Bairro é obrigatório
                  </div>

                  <div *ngIf="billingAddressDistrict?.errors.minlength">
                    *Bairro precisa ter no mínimo 2 caracteres
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="state"
                (change)="getCidades('billingAddress')">
                  <option *ngFor="let estado of billingAddressEstados" [ngValue]="estado">
                    {{ estado.nome }}
                  </option>
                </select>

                <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)" class="form-validation-error-msg">
                  <div *ngIf="billingAddressState?.errors.required">
                    *Estado é obrigatório
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city">
                  <option *ngFor="let cidade of billingAddressCidades" [ngValue]="cidade">
                    {{ cidade.nome }}
                  </option>
                </select>

                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="form-validation-error-msg">
                  <div *ngIf="billingAddressCity?.errors.required">
                    *Cidade é obrigatório
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>

        <!-- Credit Card Infos-->
        <div formGroupName="creditCard" class="form-area">

          <h3>Cartão de Crédito</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Tipo de Cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option value="">Visa</option>
                  <option value="">MasterCard</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Nome (no Cartão)</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Número do Cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>CVV</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 100px;">
                <input formControlName="securityCode" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Ano Expiração</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="expirationYear"
                (change)="handleMonthsAndYears()"
                style="width: 100px;">
                  <option value="" disabled selected>Ano</option>
                  <option *ngFor="let year of creditCardYears" value="{{ year }}">{{ year }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Mês Expiração</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth" style="width: 100px;">
                  <option value="" disabled selected>Mês</option>
                  <option *ngFor="let month of creditCardMonths" value="{{ month }}">
                    <span *ngIf="month < 10">0</span>{{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>


        </div>

        <!-- order details -->
        <div class="form-area">
          <h3>Revise a sua Compra</h3>

          <p>Quantidade Total: {{ totalQuantity }}</p>
          <p>Frete: Grátis</p>
          <p>Valor Total: {{ totalPrice | currency: 'BRL' }}</p>
        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info"> Finalizar a Compra</button>
        </div>
      </form>
    </div>
  </div>
</div>
