<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer form group-->
        <div formGroupName="customer" class="form-area">

          <h3>Informações pessoais</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Nome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Sobrenome</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>E-mail</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">
              </div>
            </div>
          </div>

        </div>

        <!-- shipping form group-->
        <div formGroupName="shippingAddress" class="form-area">

          <h3>Endereço de Envio</h3>

          <div class="row">
            <div class="col-md-2">
              <label>País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="country"
                (change)="getEstados('shippingAddress')">
                  <option *ngFor="let pais of paises" [ngValue]="pais">
                    {{ pais.nomePT }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Rua</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Número</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 100px;">
                <input formControlName="houseNumber" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>CEP</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 170px;">
                <input formControlName="zipCode" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Bairro</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="district" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="state"
                (change)="getCidades('shippingAddress')">
                  <option *ngFor="let estado of shippingAddressEstados" [ngValue]="estado">
                    {{ estado.nome }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city">
                  <option *ngFor="let cidade of shippingAddressCidades" [ngValue]="cidade">
                    {{ cidade.nome }}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <!-- Adcionar check box para copiar o endereço ded envio para o de cobrança -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span>Usar o Endereço de Envio como Endereçod e Cobrança
          </label>
        </div>

        <!-- billing form group-->
        <div formGroupName="billingAddress" class="form-area">

          <h3>Endereço de Cobrança</h3>

          <div class="row">
            <div class="col-md-2">
              <label>País</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="country"
                (change)="getEstados('billingAddress')">
                  <option *ngFor="let pais of paises" [ngValue]="pais">
                    {{ pais.nomePT }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Rua</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Número</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 100px;">
                <input formControlName="houseNumber" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>CEP</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 170px;">
                <input formControlName="zipCode" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Bairro</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="district" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Estado</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="state"
                (change)="getCidades('billingAddress')">
                  <option *ngFor="let estado of billingAddressEstados" [ngValue]="estado">
                    {{ estado.nome }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Cidade</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city">
                  <option *ngFor="let cidade of billingAddressCidades" [ngValue]="cidade">
                    {{ cidade.nome }}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <!-- Credit Card Infos-->
        <div formGroupName="creditCard" class="form-area">

          <h3>Cartão de Crédito</h3>

          <div class="row">
            <div class="col-md-2">
              <label>Tipo de Cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option value="">Visa</option>
                  <option value="">MasterCard</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Nome (no Cartão)</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Número do Cartão</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>CVV</label>
            </div>
            <div class="col-md-9">
              <div class="input-space" style="width: 100px;">
                <input formControlName="securityCode" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Ano Expiração</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                formControlName="expirationYear"
                (change)="handleMonthsAndYears()"
                style="width: 100px;">
                  <option value="" disabled selected>Ano</option>
                  <option *ngFor="let year of creditCardYears" value="{{ year }}">{{ year }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Mês Expiração</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth" style="width: 100px;">
                  <option value="" disabled selected>Mês</option>
                  <option *ngFor="let month of creditCardMonths" value="{{ month }}">
                    <span *ngIf="month < 10">0</span>{{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>


        </div>

        <!-- order details -->
        <div class="form-area">
          <h3>Revise a sua Compra</h3>

          <p>Quantidade Total: {{ totalQuantity }}</p>
          <p>Frete: Grátis</p>
          <p>Valor Total: {{ totalPrice | currency: 'BRL' }}</p>
        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info"> Finalizar a Compra</button>
        </div>
      </form>
    </div>
  </div>
</div>
